<!DOCTYPE html>
<html>

<head>
  <title>Survey Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    h1 {
      background-color: #007bff8a;
      color: white;
      padding: 10px;
    }

    form {
      width: 50%;
      margin: 0 auto;
      text-align: left;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }


   
    input {
      display: block;
      margin: 10px 0;
      width: 80%;
      padding: 10px;
      border: 1px solid #097bff73;
      border-radius: 4px;
    }

    select{
      display: block;
      margin: 10px 0;
      width: 83%;
      padding: 10px;
      border: 1px solid #097bff73;
      border-radius: 4px;
    }

    label {
      font-weight: bold;
    }

    select {
      appearance: none;
    }

    button {
      background-color: #007BFF;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <h1>Survey Form</h1>
  <form method="POST" action="/submit" >
    <label for="timestamp">Timestamp:</label>
    <input type="text" name="timestamp" id="timestamp" readonly>

    <!-- <label for="Constituency">Select Your Assembly</label>
    <select name="Constituency" id="Constituency" required>
    <option value="1">SADULSHAHAR</option>
    <option value="2">GANGA NAGAR</option>
    <option value="3">KARANPUR</option>
    <option value="4">SURATGARH</option>
    <option value="5">RAISINGHNAGAR (SC)</option>
    <option value="6">ANUPGARH (SC)</option>
    <option value="7">SANGARIA</option>
    <option value="8">HANUMANGARH</option>
    <option value="9">PILIBANGA (SC)</option>
    <option value="10">NOHAR</option>
    <option value="11">BHADRA</option>
    <option value="12">KHAJUWALA (SC)</option>
    <option value="13">BIKANER WEST</option>
    <option value="14">BIKANER EAST</option>
    <option value="15">KOLAYAT</option>
    <option value="16">LUNKARANSAR</option>
    <option value="17">DUNGARGARH</option>
    <option value="18">NOKHA</option>
    <option value="19">SADULPUR</option>
    <option value="20">TARANAGAR</option>
    <option value="21">SARDARSHAHAR</option>
    <option value="22">CHURU</option>
    <option value="23">RATANGARH</option>
    <option value="24">SUJANGARH (SC)</option>
    <option value="25">PILANI (SC)</option>
    <option value="26">SURAJGARH</option>
    <option value="27">JHUNJHUNU</option>
    <option value="28">MANDAWA</option>
    <option value="29">NAWALGARH</option>
    <option value="30">UDAIPURWATI</option>
    <option value="31">KHETRI</option>
    <option value="32">FATEHPUR</option>
    <option value="33">LACHMANGARH</option>
    <option value="34">DHOD (SC)</option>
    <option value="35">SIKAR</option>
    <option value="36">DANTARAMGARH</option>
    <option value="37">KHANDELA</option>
    <option value="38">NEEM KA THANA</option>
    <option value="39">SRIMADHOPUR</option>
    <option value="40">KOTPUTLI</option>
    <option value="41">VIRATNAGAR</option>
    <option value="42">SHAHPURA</option>
    <option value="43">CHOMU</option>
    <option value="44">PHULERA</option>
    <option value="45">DUDU (SC)</option>
    <option value="46">JHOTWARA</option>
    <option value="47">AMBER</option>
    <option value="48">JAMWA RAMGARH (ST)</option>
    <option value="49">HAWAMAHAL</option>
    <option value="50">VIDHYADHAR NAGAR</option>
    <option value="51">CIVIL LINES</option>
    <option value="52">KISHANPOLE</option>
    <option value="53">ADARSH NAGAR</option>
    <option value="54">MALVIYA NAGAR</option>
    <option value="55">SANGANER</option>
    <option value="56">BAGRU (SC)</option>
    <option value="57">BASSI (ST)</option>
    <option value="58">CHAKSU (SC)</option>
    <option value="59">TIJARA</option>
    <option value="60">KISHANGARH BAS</option>
    <option value="61">MUNDAWAR</option>
    <option value="62">BEHROR</option>
    <option value="63">BANSUR</option>
    <option value="64">THANAGAZI</option>
    <option value="65">ALWAR RURAL (SC)</option>
    <option value="66">ALWAR URBAN</option>
    <option value="67">RAMGARH</option>
    <option value="68">RAJGARH LAXMANGARH (ST)</option>
    <option value="69">KATHUMAR (SC)</option>
    <option value="70">KAMAN</option>
    <option value="71">NAGAR</option>
    <option value="72">DEEG KUMHER</option>
    <option value="73">BHARATPUR</option>
    <option value="74">NADBAI</option>
    <option value="75">WEIR (SC)</option>
    <option value="76">BAYANA (SC)</option>
    <option value="77">BASERI (SC)</option>
    <option value="78">BARI</option>
    <option value="79">DHOLPUR</option>
    <option value="80">RAJAKHERA</option>
    <option value="81">TODABHIM (ST)</option>
    <option value="82">HINDAUN (SC)</option>
    <option value="83">KARAULI</option>
    <option value="84">SAPOTRA (ST)</option>
    <option value="85">BANDIKUI</option>
    <option value="86">MAHUWA</option>
    <option value="87">SIKRAI (SC)</option>
    <option value="88">DAUSA</option>
    <option value="89">LALSOT</option>
    <option value="90">GANGAPUR</option>
    <option value="91">BAMANWAS (ST)</option>
    <option value="92">SAWAI MADHOPUR</option>
    <option value="93">KHANDAR (SC)</option>
    <option value="94">MALPURA</option>
    <option value="95">NIWAI (SC)</option>
    <option value="96">TONK</option>
    <option value="97">DEOLI UNIARA</option>
    <option value="98">KISHANGARH</option>
    <option value="99">PUSHKAR</option>
    <option value="100">AJMER NORTH</option>
    <option value="101">AJMER SOUTH (SC)</option>
    <option value="102">NASIRABAD</option>
    <option value="103">BEAWAR</option>
    <option value="104">MASUDA</option>
    <option value="105">KEKRI</option>
    <option value="106">LADNUN</option>
    <option value="107">DEEDWANA</option>
    <option value="108">JAYAL (SC)</option>
    <option value="109">NAGAUR</option>
    <option value="110">KHINVSAR</option>
    <option value="111">MERTA (SC)</option>
    <option value="112">DEGANA</option>
    <option value="113">MAKRANA</option>
    <option value="114">PARBATSAR</option>
    <option value="115">NAWAN</option>
    <option value="116">JAITARAN</option>
    <option value="117">SOJAT (SC)</option>
    <option value="118">PALI</option>
    <option value="119">MARWAR JUNCTION</option>
    <option value="120">BALI</option>
    <option value="121">SUMERPUR</option>
    <option value="122">PHALODI</option>
    <option value="123">LOHAWAT</option>
    <option value="124">SHERGARH</option>
    <option value="125">OSIAN</option>
    <option value="126">BHOPALGARH (SC)</option>
    <option value="127">SARDARPURA</option>
    <option value="128">JODHPUR</option>
    <option value="129">SOORSAGAR</option>
    <option value="130">LUNI</option>
    <option value="131">BILARA (SC)</option>
    <option value="132">JAISALMER</option>
    <option value="133">POKARAN</option>
    <option value="134">SHEO</option>
    <option value="135">BARMER</option>
    <option value="136">BAYTOO</option>
    <option value="137">PACHPADRA</option>
    <option value="138">SIWANA</option>
    <option value="139">GUDAMALANI</option>
    <option value="140">CHOHTAN (SC)</option>
    <option value="141">AHORE</option>
    <option value="142">JALORE (SC)</option>
    <option value="143">BHINMAL</option>
    <option value="144">SANCHORE</option>
    <option value="145">RANIWARA</option>
    <option value="146">SIROHI</option>
    <option value="147">PINDWARA ABU (ST)</option>
    <option value="148">REODAR (SC)</option>
    <option value="149">GOGUNDA (ST)</option>
    <option value="150">JHADOL (ST)</option>
    <option value="151">KHERWARA (ST)</option>
    <option value="152">UDAIPUR RURAL (ST)</option>
    <option value="153">UDAIPUR</option>
    <option value="154">MAVLI</option>
    <option value="155">VALLABNAGAR</option>
    <option value="156">SALUMBER (ST)</option>
    <option value="157">DHARIAWAD (ST)</option>
    <option value="158">DUNGARPUR (ST)</option>
    <option value="159">ASPUR (ST)</option>
    <option value="160">SAGWARA (ST)</option>
    <option value="161">CHORASI (ST)</option>
    <option value="162">GHATOL (ST)</option>
    <option value="163">GARHI (ST)</option>
    <option value="164">BANSWARA (ST)</option>
    <option value="165">BAGIDORA (ST)</option>
    <option value="166">KUSHALGARH (ST)</option>
    <option value="167">KAPASAN (SC)</option>
    <option value="168">BEGUN</option>
    <option value="169">CHITTORGARH</option>
    <option value="170">NIMBAHERA</option>
    <option value="171">BARI SADRI</option>
    <option value="172">PRATAPGARH (ST)</option>
    <option value="173">BHIM</option>
    <option value="174">KUMBHALGARH</option>
    <option value="175">RAJSAMAND</option>
    <option value="176">NATHDWARA</option>
    <option value="177">ASIND</option>
    <option value="178">MANDAL</option>
    <option value="179">SAHARA</option>
    <option value="180">BHILWARA</option>
    <option value="181">SHAHPURA (SC)</option>
    <option value="182">JAHAZPUR</option>
    <option value="183">MANDALGARH</option>
    <option value="184">HINDOLI</option>
    <option value="185">KESHORAIPATAN (SC)</option>
    <option value="186">BUNDI</option>
    <option value="187">PIPALDA</option>
    <option value="188">SANGOD</option>
    <option value="189">KOTA NORTH</option>
    <option value="190">KOTA SOUTH</option>
    <option value="191">LADPURA</option>
    <option value="192">RAMGANJ MANDI (SC)</option>
    <option value="193">ANTA</option>
    <option value="194">KISHANGANJ (ST)</option>
    <option value="195">BARAN ATRU (SC)</option>
    <option value="196">CHHABRA</option>
    <option value="197">DAG (SC)</option>
    <option value="198">JHALRAPATAN</option>
    <option value="199">KHANPUR</option>
    <option value="200">MANOHAR THANA</option>
    </select> -->

    <label for="Constituency">Select Your Assembly</label>
<select name="Constituency" id="Constituency" required>
</select>




    <label for="mobile_number">Mobile Number:</label>
    <input type="text" name="mobile_number" id="mobile_number" required oninput="validateMobileNumber(this)">
    <span id="mobile_number_error" style="color: red;"></span>
    
   
    

    <label for="gender">Gender:</label>
    <select name="gender" id="gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Phone Disconnected">Phone Disconnected</option>
    </select>

    <label for="urban_or_rural">आप शहरी क्षेत्र में रहते हैं या ग्रामीण क्षेत्र में?</label>
    <select name="urban_or_rural" id="urban_or_rural" required>
      <option value="Urban">Urban</option>
      <option value="Rural">Rural</option>
      <option value="Do not Know ">Do not Know</option>
      <option value="Phone Disconnected">Phone Disconnected</option>
    </select>

    <label for="upcoming_election_party">राजस्थान में अभी चुनाव होने वाला है, तो क्या आप मुझे
      बताएंगे कि आने वाले विधानसभा चुनाव में आप किस पार्टी को वोट देंगे?</label>
    <!-- <input type="text" name="upcoming_election_party" id="upcoming_election_party" required> -->
    <select name="upcoming_election_party" id="upcoming_election_party" required>
      <option value="Phone Disconnected">Phone Disconnected</option>
      <option value="Do Not Want To Answer">Do Not Want To Answer</option>
      <option value="Bahujan Samaj Party (BSP)">Bahujan Samaj Party (BSP)</option>
      <option value="Aam Aadmi Party (AAP)">Aam Aadmi Party (AAP)</option>
      <option value="Indian National Congress (INC)">Indian National Congress (INC)</option>
      <option value="Bharatiya Janta Party (BJP)">Bharatiya Janta Party (BJP)</option>
      <option value="Others">Others</option>
    </select>

    <label for="party_2018">2018 में जो विधानसभा चुनाव हुआ था, उसमें आपने कौन सी पार्टी को
      वोट दिया था?</label>
    <!-- <input type="text" name="party_2018" id="party_2018" required> -->
    <select name="party_2018" id="party_2018" required>
      <option value="Phone Disconnected">Phone Disconnected</option>
      <option value="Do Not Want To Answer">Do Not Want To Answer</option>
      <option value="Did not Vote">Did not Vote</option>
      <option value="Others Party">Others Party</option>
      <option value="Bharatiya Janta Party (BJP)">Bharatiya Janta Party (BJP)</option>
      <option value="Indian National Congress (INC)">Indian National Congress (INC)</option>
    </select>

    <label for="satisfaction_with_cm">क्या आप अपनी वर्तमान सरकार (CM Ashok Gehlot) द्वारा किए जा रहे
      काम से खुश हैं?</label>
    <select name="satisfaction_with_cm" id="satisfaction_with_cm" required>
      <option value="Phone Disconnected">Phone Disconnected</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Do not want to answer">Do not want to answer</option>
    </select>

    <label for="satisfaction_with_mla">क्या आप अपने विधानसभा क्षेत्र के विधायक के काम से खुश हैं?</label>
    <select name="satisfaction_with_mla" id="satisfaction_with_mla" required>
      <option value="Phone Disconnected">Phone Disconnected</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Do not want to answer">Do not want to answer</option>
    </select>

    <label for="occupation">आप कौन से काम के साथ हैं / आप क्या काम करते हैं?</label>
    <div id="occupationField">
      <select name="occupation" id="occupation" required onchange="toggleOtherField()">
        <option value="Phone Disconnected">Phone Disconnected</option>
        <option value="Do not want to answer">Do not want to answer</option>
        <option value="Farmer">Farmer</option>
        <option value="Student">Student</option>
        <option value="Businessman">Businessman</option>
        <option value="Labour / Daily Worker/Mechanic">Labour / Daily Worker/Mechanic</option>
        <option value="Private Employee">Private Employee</option>
        <option value="Shopkeeper / Small Shop Owner">Shopkeeper / Small Shop Owner</option>
        <option value="Unemployed">Unemployed</option>
        <option value="Teacher / Professor">Teacher / Professor</option>
        <option value="Government Employee">Government Employee</option>
        <option value="Driver">Driver</option>
        <option value="Housewife">Housewife</option>
        <option value="Retired Person">Retired Person</option>
        <option value="Others">Others</option>
      </select>
    </div>
    
    <div id="otherOccupationField" style="display: none;">
      <label for="otherOccupation">Other Occupation:</label>
      <input type="text" name="otherOccupation" id="otherOccupation">
    </div>
    

    

    <label for="caste">आपकी जाति क्या है?</label>
    <!-- <input type="text" name="caste" id="caste" required> -->

    <div id="casteField">
      <select name="caste" id="caste" required onchange="toggleOthercasteField()">
        <option value="Phone Disconnected">Phone Disconnected</option>
        <option value="Do not want to answer">Do not want to answer</option>
        <option value="Brahmin / Pandit / Sharma / Jangid">Brahmin / Pandit / Sharma / Jangid</option>
        <option value="Gurjar">Gurjar</option>
        <option value="Muslim">Muslim</option>
        <option value="Meena">Meena</option>
        <option value="Agrawal / Bania / Mahajan / Jain">Agrawal / Bania / Mahajan / Jain</option>
        <option value="Jaat">Jaat</option>
        <option value="Kumawat / Kumhar / Prajapat">Kumawat / Kumhar / Prajapat</option>
        <option value="Rajput">Rajput</option>
        <option value="Sikh">Sikh</option>
        <option value="Meghwal">Meghwal</option>
        <option value="Regar / Raigar">Regar / Raigar</option>
        <option value="Ahir / Aheer / Yadav">Ahir / Aheer / Yadav</option>
        <option value="Others">Others</option>
      </select>
    </div>
    
    <div id="othercasteField" style="display: none;">
      <label for="othercaste">Other Occupation:</label>
      <input type="text" name="othercaste" id="othercaste">
    </div>




    <label for="agent_id">Agent_ID</label>
    <input type="text" name="agent_id" id="agent_id" required>

    <label for="remarks">Remarks (if any)</label>
    <input type="text" name="remarks" id="remarks" required>

    <button type="submit" id="submitButton">Submit</button>

  </form>

  <script>

  document.getElementById("timestamp").value = new Date().toISOString().slice(0, 19).replace("T", " ");

  // Function to display a message when the Submit button is clicked
  document.getElementById("submitButton").addEventListener("click", function () {
    alert("Thank you for submitting the form!");
  });


    document.getElementById("timestamp").value = new Date().toISOString().slice(0, 19).replace("T", " ");
  </script>

<script>
  function toggleOtherField() {
    var occupationSelect = document.getElementById("occupation");
    var occupationField = document.getElementById("occupationField");
    var otherOccupationField = document.getElementById("otherOccupationField");
    var otherOccupationInput = document.getElementById("otherOccupation");
  
    if (occupationSelect.value === "Others") {
      occupationField.style.display = "none";
      otherOccupationField.style.display = "block";
      otherOccupationInput.setAttribute("required", "required");
    } else {
      occupationField.style.display = "block";
      otherOccupationField.style.display = "none";
      otherOccupationInput.removeAttribute("required");
      otherOccupationInput.value = null; // Set the default value to null when not "Others" is selected
    }
  }
  </script>

<script>
  function toggleOthercasteField() {
    var occupationSelect = document.getElementById("caste");
    var occupationField = document.getElementById("casteField");
    var otherOccupationField = document.getElementById("othercasteField");
    var otherOccupationInput = document.getElementById("othercaste");
  
    if (occupationSelect.value === "Others") {
      occupationField.style.display = "none";
      otherOccupationField.style.display = "block";
      otherOccupationInput.setAttribute("required", "required");
    } else {
      occupationField.style.display = "block";
      otherOccupationField.style.display = "none";
      otherOccupationInput.removeAttribute("required");
      otherOccupationInput.value = null; 
    }
  }
  </script>
  <script>
    function validateMobileNumber(input) {
      // Remove any non-numeric characters
      input.value = input.value.replace(/\D/g, '');
    
      var mobileNumber = input.value;
    
      // Ensure the length does not exceed 15 characters
      if (mobileNumber.length > 15) {
        input.value = mobileNumber.slice(0, 15); // Trim to a maximum of 15 characters
      }
    
      // Check if the length is less than 10
      if (mobileNumber.length < 10) {
        document.getElementById("mobile_number_error").textContent = "Mobile number must be at least 10 digits.";
        input.setCustomValidity("Mobile number must be at least 10 digits.");
      } else {
        document.getElementById("mobile_number_error").textContent = "";
        input.setCustomValidity(""); // Clear the validation message
      }
    }
    </script>
    <script>
      fetch('/get_constituency_options')
          .then(response => response.json())
          .then(options => {
              const select = document.getElementById('Constituency');
              options.forEach(option => {
                  const optionElement = document.createElement('option');
                  optionElement.value = option.value;
                  optionElement.text = option.name;
                  select.appendChild(optionElement);
              });
          })
          .catch(error => {
              console.error('Error fetching options: ', error);
          });
  </script>
</body>

</html>